%h2 New Boil Log Entry for Brew #{@brew.batch_no}

= form_with model: @boil_log, url: brew_boil_logs_path(company_name: @brew.company.slug, brew_id: @brew), local: true do |f|
  .form-group
    = f.label :vorlauf_start_time, 'Vorlauf Start Time'
    = f.datetime_field :vorlauf_start_time, class: 'form-control'

  .form-group
    = f.label :original_grav, 'Original Gravity (OG)'
    = f.number_field :original_grav, step: 0.001, class: 'form-control', placeholder: 'Enter Original Gravity'

  .form-group
    = f.label :vorlauf_complete_time, 'Vorlauf Complete Time'
    = f.datetime_field :vorlauf_complete_time, class: 'form-control'

  .form-group
    = f.label :sparge_start_time, 'Sparge Start Time'
    = f.datetime_field :sparge_start_time, class: 'form-control'

  .form-group
    = f.label :sparge_amount, 'Sparge Amount'
    = f.number_field :sparge_amount, step: 0.1, class: 'form-control', placeholder: 'Enter Sparge Amount'

  .form-group
    = f.label :sparge_complete_time, 'Sparge Complete Time'
    = f.datetime_field :sparge_complete_time, class: 'form-control'

  .form-group
    = f.label :kettle_full_time, 'Kettle Full/Lauter BK Complete'
    = f.datetime_field :kettle_full_time, class: 'form-control'

  .form-group
    = f.label :preboil_volume, 'Preboil Volume'
    = f.number_field :preboil_volume, step: 0.1, class: 'form-control', placeholder: 'Enter Preboil Volume'

  .form-group
    = f.label :preboil_gravity, 'Preboil Gravity'
    = f.number_field :preboil_gravity, step: 0.001, class: 'form-control', placeholder: 'Enter Preboil Gravity'

  .form-group
    = f.label :preboil_ph, 'Preboil pH'
    = f.number_field :preboil_ph, step: 0.01, class: 'form-control', placeholder: 'Enter Preboil pH Level'

  .form-group
    = f.label :boil_achieved_time, 'Boil Achieved Time'
    = f.datetime_field :boil_achieved_time, class: 'form-control'

  .form-group
    = f.label :boil_complete_time, 'Boil Complete Time'
    = f.datetime_field :boil_complete_time, class: 'form-control'

  .form-group
    = f.label :post_boil_amount, 'Post Boil Amount'
    = f.number_field :post_boil_amount, step: 0.1, class: 'form-control', placeholder: 'Enter Post Boil Amount'

  .form-group
    = f.label :post_boil_gravity, 'Post Boil Gravity'
    = f.number_field :post_boil_gravity, step: 0.001, class: 'form-control', placeholder: 'Enter Post Boil Gravity'

  .form-group
    = f.label :post_boil_ph, 'Post Boil pH'
    = f.number_field :post_boil_ph, step: 0.01, class: 'form-control', placeholder: 'Enter Post Boil pH Level'

  .form-group
    = f.label :notes, "Notes", class: 'form-label'
    = f.text_area :notes, class: 'form-control', placeholder: "Enter any observations or issues for this stage"

  = f.submit 'Save Boil Log', class: 'btn btn-primary'
