%h2.text-primary.mb-3= "#{@user.first_name} #{@user.last_name}"

.card.shadow-sm.p-3
  .card-body
    .mb-3
      %strong Email:
      = @user.email

    .mb-3
      %strong Role:
      = @user.role.titleize

    .mb-3
      %strong Company:
      = @user.company.name

    .mt-3.d-flex.justify-content-end
      = link_to edit_user_path(company_name: @company.slug, id: @user), class: "btn btn-outline-secondary d-flex align-items-center gap-2" do
        %i.fas.fa-edit
        Edit User
      = link_to users_path(company_name: @company.slug), class: "btn btn-outline-primary ms-2 d-flex align-items-center gap-2" do
        %i.fas.fa-arrow-left
        Back to Users
