%h1.text-center.mb-4 Ingredients Inventory

.row.mb-3
  .col-md-6
    %h2.fs-4.text-muted Inventory Overview
  .col-md-6.text-end
    = link_to new_ingredient_path(@company), class: "btn btn-success" do
      %i.bi.bi-plus-circle
      Add Ingredient

%ul.nav.nav-tabs.mb-4{"role" => "tablist"}
  %li.nav-item
    %a.nav-link.active{"data-bs-toggle" => "tab", href: "#maltsTab", "role" => "tab"} Malts (Grains)
  %li.nav-item
    %a.nav-link{"data-bs-toggle" => "tab", href: "#hopsTab", "role" => "tab"} Hops
  %li.nav-item
    %a.nav-link{"data-bs-toggle" => "tab", href: "#yeastTab", "role" => "tab"} Yeast
  %li.nav-item
    %a.nav-link{"data-bs-toggle" => "tab", href: "#pureeTab", "role" => "tab"} Puree
  %li.nav-item
    %a.nav-link{"data-bs-toggle" => "tab", href: "#otherTab", "role" => "tab"} Other

.tab-content
  #maltsTab.tab-pane.fade.show.active{"role" => "tabpanel"}
    = render partial: 'ingredients_table', locals: { ingredients: @ingredients.where(category: 'Malts (Grains)') }

  #hopsTab.tab-pane.fade{"role" => "tabpanel"}
    = render partial: 'ingredients_table', locals: { ingredients: @ingredients.where(category: 'Hops') }

  #yeastTab.tab-pane.fade{"role" => "tabpanel"}
    = render partial: 'ingredients_table', locals: { ingredients: @ingredients.where(category: 'Yeast') }

  #pureeTab.tab-pane.fade{"role" => "tabpanel"}
    = render partial: 'ingredients_table', locals: { ingredients: @ingredients.where(category: 'Puree') }

  #otherTab.tab-pane.fade{"role" => "tabpanel"}
    = render partial: 'ingredients_table', locals: { ingredients: @ingredients.where(category: 'Other') }
