%h2.mb-3.text-primary= action_name == 'new' ? 'New Company' : 'Edit Company'

/ **Company Edit Form**
.border.rounded.p-3.shadow-sm
  = form_for @company do |f|
    - if @company.errors.any?
      .alert.alert-danger
        %h4= "#{pluralize(@company.errors.count, 'error')} prohibited this company from being saved:"
        %ul.mb-0
          - @company.errors.full_messages.each do |message|
            %li= message

    .row.g-3
      .col-md-6
        .form-group
          = f.label :name, "Company Name", class: 'form-label fw-bold'
          = f.text_field :name, class: 'form-control', placeholder: "Enter company name"

      .col-md-6
        .form-group
          = f.label :partner_ids, "Partner Companies", class: 'form-label fw-bold'
          = f.collection_select :partner_ids, @available_partners, :id, :name, 
            { prompt: "Select Partner Companies" }, 
            { multiple: true, class: 'form-control', value: @company.partner_ids }

    / **Form Actions**
    .mt-4.d-flex.justify-content-end.gap-2
      = f.submit action_name == 'new' ? 'Create Company' : 'Update Company', class: 'btn btn-primary px-4'
      = link_to 'Back to Companies', companies_path, class: 'btn btn-outline-secondary px-4'

